
.ticket-detail-page {
	background-color: $background-color;
}


.ticket-detail {
    padding: 10px 10px 10px 10px; 
    border-color: #8a8c91;
    border-width: 2px;
    background-color: #fff;  
}

#map {
        width: 100%;
        height: 100%;
      }
 
